<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
    </head>
    <body>
        <h1>Search Results for keyword:</h1>
        <form action="{{ path('user_search') }}" method="post" accept-charset="utf-8">
            <input type="text" name="search" value="{{ app.request.get('search')  }}" id="keyword">
            <p><input type="submit" value="Search &rarr;"></p>
        </form>
        <ul id="results">
            {% for user in users %}
                <li>{{ user.getSource().firstName }} {{ user.getSource().lastName }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
